
<div class="background">
<br/><br/>
<h2 class="titulo">Aplicación  Cliente</h2>
<button class="btn big" (click)="obtenerClientes()"> Presionar para Listar Clientes Activos/NoActivos</button>
<br/><br/>

<div *ngIf="responseClientes">

<div  *ngFor="let cliente of responseClientes" class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card cuadro1 background">
      
      <div class="card-body">
        <img [src]="cliente.picture" class="card-img-top" [alt]="cliente.picture">
        <div class="cuadroTexto1">
        <h3 class="card-title">Datos Personales</h3>
        <h5 class="card-title">{{cliente.name}}</h5>
        <h6 class="card-title">Edad: {{cliente.age}}</h6>
        <h6 class="card-title">Color de Ojos: {{cliente.eyeColor}}</h6>
        <h6 class="card-title">Género: {{cliente.gender}}</h6>
        <h6 class="card-title">Correo: {{cliente.email}}</h6>
        <h6 class="card-title">Teléfono: {{cliente.phone}}</h6>
        <h6 class="card-title">Dirección: {{cliente.address}}</h6>
        <h6 class="card-title">Acerca De</h6>
        <p class="card-text">{{cliente.about}}</p>
      </div>
      </div>
    </div>
  </div>

  <div class="col mb-4">
      <div class="card cuadro2">
        <div class="card-body">
          <div class="cuadroTexto2">
          <h3 class="card-title">Datos Extras</h3>
          <h6 class="card-title">ID: {{cliente.id}}</h6>
          <h6 class="card-title">Estado de Actividad: {{cliente.isActive}}</h6>
          <h6 class="card-title">Guid: {{cliente.guid}}</h6>
          <h6 class="card-title">Fecha de Registro: {{cliente.registered}}</h6>
          <h6 class="card-title">Balance: {{cliente.balance}}</h6>
          <h6 class="card-title">Compañia Laboral: {{cliente.company}}</h6>
          <h6 class="card-title">Latitud: {{cliente.latitude}}</h6>
          <h6 class="card-title">Longitud: {{cliente.longitude}}</h6>
          <h6 class="card-title">Etiquetas: {{cliente.tags}}</h6>
          <h6 class="card-title">Saludo Personal: {{cliente.greeting}}</h6>
          <h6 class="card-title">Fruta Favorita: {{cliente.favoriteFruit}}</h6>
          <h6 class="card-title">Lista de Amigos: {{cliente.friends}}</h6>
          </div>
    
        </div>
      </div>
    </div>
</div>
</div>
</div>